@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body    {
    background-color: #A2F2D2;
    font-family: 'Abel', sans-serif;
}

.pokeHeader    {
    width: 100%;
    height: 200px;
}

.contenedor     {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    letter-spacing: 10px;
}

.choice {
    margin-left: 35px;
}

.botton    {   
    width: 220px;
    height: 45px;
    border-radius: 12px;
    border: 1px solid #A2F2D2;
    font-family: "abel", FontAwesome;
    font-size: 16px;
    text-align-last: center;
    cursor: pointer;
    
}

.icon  {
    vertical-align: middle;
}

select  {
    background-color: #60F194;
}

/*  vista pokemones */

.pokeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1400px;
}

.poke {
	background-color: white;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
	border-radius: 50px;
	margin: 20px;
    width: 180px;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.poke .img-container {
    width: 85%;
    height: 85%;
    text-align: center;
    cursor: pointer;
}

.poke .img-container img {
	margin-top: 5px;
	max-width: 75%;
}

.poke .info {
	margin-top: 0px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px; 
}

.poke .name {
    margin-top: -30px;
}

.poke .number {
    margin-top: -10px;
}